.sign-in {
    margin-top: 10vh;
    width: 380px;
    
    transition: all;
    transition-property: all;
    transition-duration: 5s;

    .title {
        margin: 10px;
    }

    .sign-button {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}
.new-account {
    display: block;
    margin-top: 20px;
    font-size: 18px;

    .join-link {
        padding: 0 5px;
        color: #FF472E;

        &:hover {
            text-decoration: underline;
        }
    }
}