.sign-in {
    margin-top: 20vh;
    width: 380px;

    @media screen and (max-width: 400px) {
        margin-top: 17vh;
        padding: 0 5px;
    }

    @media screen and (max-height: 400px) {
        margin-top: 60px;
    }

    .title {
        margin: 10px;
    }

    .sign-button {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        @media screen and (max-width: 800px) {
            display: grid;
            grid-template-columns: 1fr;
            gap: 5px;
        }
    }
}
.new-account {
    display: block;
    margin-top: 20px;
    font-size: 18px;

    .join-link {
        padding: 0 5px;
        color: #FF472E;
        font-weight: bold;

        &:hover {
            text-decoration: underline;
        }
    }
}