
  .cart-dropdown {
    position: absolute;
    width: 240px;
    height: 340px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid #FF472E;
    background-color: #577170;
    top: 55px;
    right: 40px;
    z-index: 110;

    @media screen and (max-width: 800px) {
        top: 50px;
        right: 25px;
    }
  
    .cart-items {
      height: 240px;
      display: flex;
      flex-direction: column;
      overflow-y: scroll;
    }

    .empty-message {
      font-size: 18px;
      margin: 50px auto;
      overflow: hidden;
    }
  
    button {
      margin-top: auto;
    }
  }




  