.checkout-page {
  width: 55%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
    margin: 0 auto 0;
    margin-bottom: 20px;
    padding-top: 70px;

    @media screen and (max-width: 800px) {
      width: 90%;
      padding-top: 70px;
    }
  
    .checkout-header {
      width: 100%;
      padding: 10px 0;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid darkgrey;
  
      .header-block {
        text-transform: capitalize;
        width: 23%;
  
        &:last-child {
          width: 8%;
        }
      }
    }

    @media screen and (max-width: 800px) {
      .header-block {
        width: 20%;
      }
    }
  
    .total {
      margin-top: 30px;
      margin-left: auto;
      font-size: 36px;
    }
    .test-warning {
      text-align: center;
      margin-top: 40px;
      font-size: 24px;
      color:  #FF472E;
    }
    
    .stripe-btn {
      margin-left: auto;
    }

  }
  