.join {
    margin-top: 15vh;
    width: 380px;

    @media screen and (max-width: 800px) {
      margin-top: 10vh;
      padding: 0 5px;

      .join-button {
        display: grid;
        grid-template-columns: 1fr;
      }
  }
    @media screen and (max-height: 400px) {
      margin-top: 60px;
  }


    .subtitle {
      display: inline-block;
      font-size: 18px;
    }
  
    .title {
      margin: 25px 0;
    }
  }
  